{% extends "base" %}

{% block head %}
<title>Vadybos vaizdas</title>

{% block manager_custom_style %}
{% endblock manager_custom_style %}

{% endblock head %}

{% block nav %}
<nav>
  <ul>
    {% include "manager/base.menu" %}
    <li><a href="/">Atsijungti</a></li>
  </ul>
</nav>
{% endblock nav %}

{% block content %}
{% endblock content %}
