{% extends "technician/base" %}

{% block custom_style %}
{% endblock custom_style %}

{% block content %}
<article>
<h1>Kameros registracija</h1>
<form>
  <p>
    <label for="name">Pavadinimas</label>
    <input type="text" id="name" value="">
  </p>
  <p>
    <input type="submit" value="Pateikti">
  </p>
</form>
</article>
{% endblock content %}
