<!doctype html>
<html class="no-js" lang="lt-LT">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block head %}
        <title>Gedimų sistema</title>
        {% endblock head %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <!-- TODO: Iškelti į atskirus failus style -->
        <style media="screen">
          body {
              font-family: Arial, Helvetica, Sans-serif;
              line-height: 1.2;
              background-color: #F8F8F8;
              margin: 40px auto;
          }

          article {
              max-width: 650px;
              margin: 20px auto;
          }

          article.extended {
              max-width: 100%;
              margin: 20px 20px auto;
          }

          h1 {
              margin: 10px 40px 10px 20px;
          }

          table {
              border-collapse: collapse;
              border-spacing: 0;
              width: 100%;
          }

          thead {
              border-bottom: 2px solid #00000030;
          }

          tr {
              border-bottom: 1px solid #00000020;
          }

          td, th {
              padding: 5px 10px 5px 10px;
          }

          col:nth-child(2n) {
              background-color: #00000010;
          }

          /* NAVIGATION */
          nav ul {
              margin: auto;
              list-style: none;
              background-color: #EEE;
              font-size: 1.2em;
              text-align: center;
          }

          nav ul li {
              display: inline-block;
              margin: 10px;
          }
          nav ul li a {
              text-decoration: none;
          }

          nav ul li a {
              color: #000000DF;
          }

          nav ul li a:hover {
              color: #000000AF
          }
        </style>
        <style media="screen">
          form label {
              display: inline-block;
              text-align: right;
              width: 160px;
              margin-right: 10px;
          }

          form input {
          }

          form input[type="submit"] {
              margin-left:220px;
          }

          form label::after {
              content: ":";
          }
        </style>
        <style media="screen">
          @media (prefers-color-scheme: dark) {
              body {
                  background-color: #222222;
                  color: #BBB;
              }

              nav ul {
                  background-color: #FFFFFF20;
              }

              nav ul li a {
                  color: #FFFFFFDF;
              }

              nav ul li a:hover {
                  color: #FFFFFFAF;
              }

              a:visited, a:link {
                  color: #FFFFFFBF;
              }

              thead {
                  border-bottom: 2px solid #FFFFFF30;
              }

              tr {
                  border-bottom: 1px solid #FFFFFF20;
              }

              td, th {
                  padding: 5px 10px 5px 10px;
              }

              col:nth-child(2n) {
                  background-color: #FFFFFF10;
              }

              input, select, textarea {
                  color: #BBB;
                  background-color: #222;
              }
          }
        </style>
        <style media="screen">
          .tooltip {
              color: #00a;
              position: relative;
              text-decoration: none;
          }

          .tooltip:hover .tooltiptext {
              visibility: visible;
          }

          .tooltip .tooltiptext:target {
              visibility: visible;
          }

          .tooltiptext {
              background-color: #EEE;
              border: 1px solid;
              border-radius: 3px;
              position: absolute;
              left: 50%;
              margin-left: -50%;
              padding: 5px;
              top: 100%;
              visibility: hidden;
              width: 100%;
              z-index: 1;
          }
        </style>
    </head>

    <body>
      <!--[if lt IE 9]>
          <p class="browserupgrade">
            Jūs naudojate <strong>Pasenusią</strong> naršyklę. Prašau
            <a href="http://browsehappy.com/">atsinaujinkite savo naršyklę</a>,
            kad veiktų visas tinklalapio funkcionalumas.
          </p>
      <![endif]-->
       <nav>
         {% block nav %}
         <ul>
           <li><a href="/manager">Prisijungti kaip vadybininkui</a></li>
           <li><a href="/super_manager">Prisijungti kaip super-vadybininkui</a><li>
           <li><a href="/technician">Prisijungti kaip technikui</a></li>
           <li><a href="/email">Laiškų šablonai</a><li>
         </ul>
         {% endblock nav %}
       </nav>
       {% block content %}
       <article>
          <h1>Technikų web'o maketas</h1>
       </article>
       {% endblock content %}
    </body>
</html>
