<!doctype html>
<html class="no-js" lang="lt-LT">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Gedimų sistema</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <style type="text/css" media="screen">
         nav {
             float: left;
         }

         article {
             margin: 0 0 960px auto;
         }

         nav ul li:hover {
             color: red;
         }

         nav ul li {
             color: blue;
             transition-duration: 0.25s;
             transition-property: color;
         }

         col:nth-child(2n){
             background: grey;
         }

         td, th {
             padding: 10px;
             border: 1px solid black;
             border-radius: 5px;
         }

         /* td {
            padding-top
            } */
         table {
             text-align: right;
         }
        </style>
        <style type="text/css" media="handheld">
         nav {
             visibility: hidden;
         }
        </style>

    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browserupgrade">
            Jūs naudojate <strong>Pasenusią</strong> naršyklę. Prašau
            <a href="http://browsehappy.com/">atsinaujinkite savo naršyklę</a>,
            kad veiktų visas tinklalapio funkcionalumas.
            </p>
        <![endif]-->
        <header>
            <h1>Gedimų sistema</h1>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="/admin">Administravimas</a>
                </li>
                <li>
                    <a href="/libraries">Bibliotekos</a>
                </li>
                <li>
                    <a href="/issues">Gedimai</a>
                </li>
                <li>
                    <a href="/login">Prisijungimas</a>
                </li>
            </ul>
        </nav>
        <article>
            <table>
                <caption align="bottom">
                    Apačioj paaiškinimas?
                </caption>
                <colgroup>
                    <col class="id" />
                    <col class="name" />
                    <col class="action" />
                </colgroup>
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Pavadinimas</th>
                    <th scope="col"><a href="/issues/add">Registruoti naują gedimą</a></th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Muravoje gedimas</td>
                        <td><a href="/issues/edit">Keisti</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Panevėžio maxima gedimas</td>
                        <td><a href="/issues/edit">Keisti</a></td>
                    </tr>
                </tbody>
            </table>

        </article>
        <footer>

        </footer>
    </body>
</html>
