{% block nav %}
<ul>
  {% if user.is_technician %}
    <li><a href="/technician/cameras">Kameros</a></li>
    <li><a href="/technician/screens">Ekranai</a></li>
    <li><a href="/technician/issues">Gedimai</a></li>
    <li><a href="/technician/inventory">Inventorius</a></li>
    <li><a href="/technician/statistics">Statistika</a></li>
    <li><a href="/technician/settings">Nustatymai</a></li>
    <li><a href="/technician/tasks">Darbai</a></li>
  {% endif %}
</ul>
{% endblock nav %}
